[mailbox]
users = apapritz@christoffersonrobb.com

[dates]
start_date = 2025-12-01
end_date = 2026-01-29

[messages]
top = 500

[folders]
folders = Inbox,Archive,SentItems

[domains]
filter_domains =  feg.com,adia.ae

[ marketer_team ]
aleasor
dleigh
ehope
malik
martijn
nakano
lsudwarts
fmatic
gijs
jleventhal
eglaister
ytruneh
anayar
jkosek
proger
