[mailbox]
users = martijn@christoffersonrobb.com

[dates]
start_date = 2025-07-21
end_date = 2025-07-30

[messages]
top = 500

[folders]
folders = Amalia,Inbox,Archive,SentItems

[domains]
filter_domains = ubp.com,remaco.com,ilmarinen.fi,danskebank.dk,shellpensioen.nl,varma.fi,
	altss.com,familyofficehub.io,adia.com,gic.com.sg,aeoninvestments.com,railpen.com,
	pluris.com,qia.qa,harbourvest.com,merseyside.com,sofi.com,leicestershire.com,
	memberonline.tpt.org.uk,santalucia.org,thinkinganglicans.org.uk,familyofficeassociation.us,bancagenerali.com,td-holdings.co.jp,shepp.com

[marketer_team]
members = aleasor,dleigh,ehope,malik,martijn,nakano,lsudwarts,fmatic,gijs,jleventhal,eglaister,ytruneh,anayar,jkosek,proger

