[mailbox]
users = dleigh

[dates]
start_date = 2025-07-21
end_date = 2025-07-30

[messages]
top = 500
    
[folders]
folders = Inbox,Archive,SentItems
  
[domains]
filter_domains = railpen.com

[marketer_team]
members = apapritz,aleasor,dleigh,ehope,malik,martijn,nakano,lsudwarts,fmatic,gijs,jleventhal,eglaister,ytruneh,anayar,jkosek,proger

