[user]
user = aleasor@christoffersonrobb.com
[folders]
folders = Archive, Inbox, Sent Items

[user]
user = dleigh@christoffersonrobb.com
[folders]
folders = Archive, Inbox, Sent Items

[user]
user = ehope@christoffersonrobb.com
[folders]
folders = Archive, Inbox, Sent Items

[user]
user = malik@christoffersonrobb.com
[folders]
folders = Archive, Inbox, Sent Items

[user]
user = martijn@christoffersonrobb.com
[folders]
folders =  Archive, Inbox, Sent Items

[user]
user = nakano@christoffersonrobb.com
[folders]
folders = Inbox

[user]
user = lsudwarts@christoffersonrobb.com
[folders]
folders = Amalia, Archive, Inbox,Project Exodus, Sent Items

[user]
user = fmatic@christoffersonrobb.com
[folders]
folders = Archive, Austria, BOTF, Colombia,   Germany,   Inbox,   Italy, Liechtenstein,   Sent Items, Switzerland, Third Countries

[user]
user = gijs@christoffersonrobb.com
[folders]
folders = Archive, Inbox, Sent Items 

[user]
user = jleventhal@christoffersonrobb.com
[folders]
folders = Archive, Inbox, Sent Items

[user]
user = eglaister@christoffersonrobb.com
[folders]
folders = Archive, Germany, Inbox, Sent Items
[user]
user = ytruneh@christoffersonrobb.com
[folders]
folders = ADIA, Aon, Archive, Article, BOTF, CEO, Consultant, Due Diligence, Inbox, Investor, Marketing, NPL, Outreach, Research, Sent Items

[user]
user = anayar@christoffersonrobb.com
[folders]
folders = Archive, Inbox, News, Old emails, Runs & Research, Sent Items

[user]
user = jkosek@christoffersonrobb.com
[folders]
folders = Archive, Inbox, Sent Items

[user]
user = proger@christoffersonrobb.com
[folders]
folders = Archive, Inbox, Sent Items

